extends layout

block menus
	.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
		ul.nav.navbar-nav
			li
				a(href="/bugs/#{bug.name}")= bug.config.title
			li
				a(href="/bugs/#{bug.name}/readmes") Readmes

block content
	.tab-list
		ul(class="nav nav-pills" role="tablist")
			li(role="presentation" class="active")
				a(href="#public" aria-controls="public" role="tab" data-toggle="pill") Public
			li(role="presentation")
				a(href="#private" aria-controls="private" role="tab" data-toggle="pill") Private

	.tab-content
		div(role="tabpanel" class="tab-pane fade in active" id="public")!= public
		div(role="tabpanel" class="tab-pane fade" id="private")!= private
